<div ng-init="getExpenses()">
	<form class="align">
		<label class="input-field" for="search-field">Search</label>
      	<input class="input-field" ng-model="query" type="text"
        placeholder="Filter by" autofocus>
        <a href="#/expense/add"> Add a purchase</a>
    </form>
	<table class="table center styled">
		<tr class="table-row">
			<th>Purchase</th>
			<th>Price</th>
			<th>Date</th>
		</tr>
		<tr ng-repeat="expense in expenses | filter:query | orderBy: 'purchase' ">
			<td>{{expense.purchase}}</td>
			<td class="light">{{expense.price | currency}}</td>
			<td>{{expense.create_data | date : forma : fullDate }}</td>
			<td><a href="#/expense/details/{{expense._id}}"> details</a></td>
		</tr>
	</table>
</div>