<div ng-init="getExpense()" class=" center">
	<div class="focus-area align">
		<h1>
			My purchase
		</h1>
			<h2>
				{{expenses.purchase}}
			</h2>
			<p>
				for {{expenses.price | currency}}
			</p>
			<br>
			<p>

			on {{expenses.create_data | date : forma : fullDate }}
			</p>
	</div>
	<div>
		<a href="#/expense"> Go Back</a>
		<a href="#/expense/add"> Add a purchase</a>
		<a href="#/expense/edit/{{expenses._id}}">Edit</a>
		<a href="#" ng-click="removeExpense(expenses._id)">Delete</a>
	</div>
</div>
